<!-- portada -->
<div class="vh-100 ">
    <div class="nav">
        <div>
            <img class="logo" src="../assets/logo.png" alt="">
        </div>
        <nav class="">
            <!-- logo -->
            <ul class="nav_links ">
                <li class="ancla">
                    <a href="#nosotros">
                        <p>Nosotros</p>
                    </a>
                </li>
                <li class="ancla">
                    <a href="#queHacemos">
                        <p>Que hacemos</p>
                    </a>
                </li>
                <li class="ancla">
                    <a href="#portfolio">
                        <p>Portfolio</p>
                    </a>
                </li>
                <li class="ancla">
                    <a href="#contacto">
                        <p>Contacto</p>
                    </a>
                </li>
            </ul>

        </nav>
    </div>
    <div>
        <div>
            <h1>
                Elytra Productions
            </h1>
            <h2>
                Una productora de música para videojuegos y audioviusales
            </h2>
        </div>
        <!-- carrousel -->
        <div>

        </div>
    </div>
</div>
<!-- Nosotros -->
<div id="nosotros" class="container d-flex flex-column">
    <div class="flex-row d-flex">
        <div class="d-flex box borderSubtitle">
            <p>NOSOTROS</p>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex">
            <div class="textoNosotros">
                <p class="textoNosotros">Somos una productora de música para videojuegos, audiovisuales y publicidad.
                </p>
                <p class="textoNosotros">Contamos con una amplia gama de intérpretes para todos los géneros, varios
                    estudios de grabación a disposición y excelentes productores de sonido</p>
                <p class="textoNosotros">Enfocados en la música para videojuegos, nos apasiona la creación y la
                    implementación a través de wwise y fmod.</p>
            </div>
            <!-- logo -->
        </div>

        <div class="logoNosotros">
            <img class="" src="../assets/logo.png" alt="">
        </div>
    </div>

</div>
<!-- QUE HACEMOS -->
<div id="queHacemos" class="container d-flex flex-column bgDark">
    <div class="flex-row subtitle">
        <div class="d-flex box borderSubtitle">
            <p>QUE HACEMOS</p>
        </div>
    </div>
    <div class="d-flex">
        <!-- creamos -->
        <div class="d-flex flex-column oneColumn">
            <div class="d-flex creamosCard">
                <!-- svg -->
                <div class="icoBox">
                    <img class="iconQueHacemos" src="../assets/img/icon/creamos.png" alt="">
                </div>
                <!-- texto -->
                <div>
                    <h4>CREAMOS</h4>
                </div>
                <div>
                    <p class="textQueHacemos">Permítanos explotar su multimedia con nuestra música más creativa</p>
                </div>
            </div>
            <div class="d-flex creamosCard">
                <!-- svg -->
                <div class="icoBox">
                    <img class="iconQueHacemos" src="../assets/img/icon/producimos.png" alt="">
                </div>
                <!-- texto -->
                <div>
                    <h4>PRODUCIMOS</h4>
                </div>
                <div>
                    <p class="textQueHacemos">Exploramos y llevamos a cabo la mejor alquimia posible.</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column oneColumn">
            <div class="d-flex creamosCard">
                <!-- svg -->
                <div>
                    <img class="iconQueHacemos" src="../assets/img/icon/postProducimos.png" alt="">
                </div>
                <!-- texto -->
                <div>
                    <h4>POST-PRODUCIMOS</h4>
                </div>
                <div>
                    <p class="textQueHacemos">Damos color y llevamos a los niveles adecuados, logrando un excelente
                        sonido.</p>
                </div>
            </div>
            <div class="d-flex creamosCard">
                <!-- svg -->
                <div>
                    <img class="iconQueHacemos" src="../assets/img/icon/implementamos.png" alt="">
                </div>
                <!-- texto -->
                <div>
                    <h4>IMPLEMENTAMOS</h4>
                </div>
                <div>
                    <p class="textQueHacemos">Icorporamos la música al videojuego a través de los mejores middleware.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- portfolio -->
<div id="portfolio" class="container d-flex ">
    <!-- card niñas ayohuma -->
    <div class="cardPortfolio d-flex border">
        <div class="d-flex flex-column oneColumn box">
            <div class="d-flex cardSubtitle borderSubtitle">
                <h4 class=" center">
                    Niñas de ayohuma
                </h4>
            </div>
            <div class="textCard ">
                <p>María, protagonista de esta historia, debe lograr la independencia de argentina. Debera a travesar
                    varias batallas hasta llegar a su rey.</p>
            </div>
        </div>
        <div class="d-flex flex-column box">
            <div class="boxImg">
                <img class="imgCard" src="../assets/img/cards/niniasDeAyohuma.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- reproductor -->
    <div>

    </div>
    <!-- video -->
    <div>

    </div>
</div>
<div class="container d-flex flex-column bgDark">
    <!-- RPG -->
    <div class="cardPortfolio d-flex border">
        <div class="d-flex flex-column oneColumn box ">
            <div class="d-flex cardSubtitle borderSubtitle">
                <h4 class=" center">
                    Music Pack RPG
                </h4>
            </div>
            <div class="textCard ">
                <p >María, protagonista de esta historia, debe lograr la independencia de argentina. Debera a travesar
                    varias batallas hasta llegar a su rey.</p>
            </div>
        </div>
        <div class="d-flex flex-column box">
            <div class="boxImg">
                <img class="imgCard" src="../assets/img/cards/niniasDeAyohuma.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- reproductor -->
 <!--    <div class="container d-flex">
        <iframe class="container" width="100%" height="400" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1382792683&color=%23d5d1cc&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>

        <div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
        </div>
    </div> -->

</div>
<div class="container d-flex flex-column">
    <!-- epiphany-->
    <div class="cardPortfolio d-flex border">
        <div class="d-flex flex-column oneColumn box">
            <div class="d-flex cardSubtitle borderSubtitle">
                <h4 class=" center">
                    Niñas de ayohuma
                </h4>
            </div>
            <div class="textCard ">
                <p>María, protagonista de esta historia, debe lograr la independencia de argentina. Debera a travesar
                    varias batallas hasta llegar a su rey.</p>
            </div>
        </div>
        <div class="d-flex flex-column box">
            <div class="boxImg">
                <img class="imgCard" src="../assets/img/cards/niniasDeAyohuma.jpg" alt="">
            </div>
        </div>
    </div>
    <!-- reproductor -->
<!--     <div class="container d-flex ">
        <iframe class="container"  width="100%" height="166" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1313604100&color=%23cb69c1&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe>
        <div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
           </div>
    </div> -->

</div>
<!-- footer -->
<footer id="contacto" class="vh-100 d-flex ">
    <div class="d-flex flex-column box ">
        <div class="d-flex subtitle borderSubtitle box contacto">
            <p>CONTACTO</p>
        </div>
        <div class="d-flex flex-row ">
            <!-- col  -->
            <div class="flex-column oneColumn  ">
                <form class="d-flex  flex-column box" action="" method="get">
                    <div>
                        <input class="borderSubtitle " type="text" placeholder="Nombre" id="nombre">
                    </div>
                    <div>
                        <input class="borderSubtitle" type="text" placeholder="e-mail" id="e-mail">
                    </div>
                    <div>

                        <textarea class="borderSubtitle " name="mensaje" id="mensaje" rows="8"></textarea>
                    </div>
                    <div class="">
                        <input class="borderSubtitle " type="submit" value="ENVIAR">
                    </div>
                </form>
            </div>
            <!-- col -->
            <div class="flex-column container ">
                <div class="redes ">
                    <div class="d-flex boxRedes ">
                        <div class="d-flex rigth">
                            <div class="d-flex flex-row ">
                                <div class="textRedes">
                                    <p>@elytraproductions</p>
                                </div>
                                <div class="icon">
                                    <img src="../assets/img/icon/footer/insFooter.svg" alt="">
                                </div>

                            </div>

                        </div>
                        <div class="d-flex rigth">
                            <div class="d-flex  ">
                                <div class="textRedes">
                                    <p>Elytra Prductions</p>
                                </div>
                                <div class="icon">
                                    <img src="../assets/img/icon/footer/fbFooter.svg" alt="">
                                </div>

                            </div>
                        </div>
                        <div class="d-flex rigth">
                            <div class="d-flex  ">
                                <div class="textRedes">
                                    <p>ElytraProductions</p>
                                </div>
                                <div class="icon">
                                    <img src="../assets/img/icon/footer/twitterFooter.svg" alt="">
                                </div>

                            </div>
                        </div>
                        <div class="d-flex rigth">
                            <div class="d-flex ">
                                <div class="textRedes">
                                    <p>+5493412821242</p>
                                </div>
                                <div class="icon">
                                    <img src="../assets/img/icon/footer/wpFooter.svg" alt="">
                                </div>

                            </div>
                        </div>
                        <div class="d-flex rigth">
                            <div class="d-flex ">
                                <div class="textRedes">
                                    <p>contact.elytraproductions@gmail.com</p>
                                </div>
                                <div class="icon">
                                    <img src="../assets/img/icon/footer/gmFooter.svg" alt="">
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- columna iconos -->

                </div>
                <!-- logo -->
                <div class="d-flex rigth">
                    <img class="logoContacto" src="../assets/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>