<!-- portada -->
<div class="vh-100 ">
    <div class="nav">
        <div >
            <img class="logo" src="../assets/logo.png" alt="" >
         </div>
        <nav class="">
            <!-- logo -->
           
            <ul class="nav_links ">
                <li class="ancla">
                    <a href="#nosotros"><p>Nosotros</p></a>
                </li>
                <li class="ancla">
                    <a href="#queHacemos"><p>Que hacemos</p></a>
                </li>
                <li class="ancla">
                    <a href="#portfolio"><p>Portfolio</p></a>
                </li>
                <li class="ancla">
                    <a href="#contacto"><p>Contacto</p></a>
                </li>
            </ul>
            
        </nav>
    </div>
    <div>
        <div>
            <h1>
                Elytra Productions
            </h1>
            <h2>
                Una productora de música para videojuegos y audioviusales
            </h2>
        </div>
        <!-- carrousel -->
        <div>

        </div>
    </div>
</div>
<!-- Nosotros -->
<div id="nosotros" class="container d-flex flex-column">
    <div class="flex-row subtitle">
        <div class="d-flex gradient-box  box">
            <p>NOSOTROS</p>
        </div>
    </div>
    <div class="d-flex flex-row">
        <div class="d-flex">
            <div class=" textoNosotros">
                <p class="textoNosotros">Somos una productora de música para videojuegos, audiovisuales y publicidad.</p>
                <p class="textoNosotros">Contamos con una amplia gama de intérpretes para todos los géneros, varios estudios de grabación a disposición y excelentes productores de sonido</p>
                <p class="textoNosotros">Enfocados en la música para videojuegos, nos apasiona la creación y la implementación a través de wwise y fmod.</p>
            </div>
            <!-- logo -->
            </div>
        
        <div class="logoNosotros">
            <img class="" src="../assets/logo.png" alt="">
        </div>
    </div>  
    
</div>
<!-- QUE HACEMOS -->
<div id="queHacemos" class="container d-flex flex-column bgDark">
    <div class="flex-row">
        <div class="subtitle">
            <p>QUE HACEMOS</p>
        </div>
    </div>
    <div class="d-flex">
        <!-- creamos -->
        <div class="d-flex flex-column oneColumn">
            <div class="d-flex creamosCard">
                <!-- svg -->
                <div class="icoBox">
                    <img class="iconQueHacemos" src="../assets/img/icon/creamos.png" alt="">
                </div>
                <!-- texto -->
                <div>
                    <h4>CREAMOS</h4>
                </div>    
                <div >
                    <p class="textQueHacemos">Permítanos explotar su multimedia con nuestra música más creativa</p>
                </div>
            </div>
            <div class="d-flex creamosCard">
                <!-- svg -->
                <div class="icoBox">
                    <img class="iconQueHacemos" src="../assets/img/icon/producimos.png" alt="">
                </div>
                <!-- texto -->
                <div>
                    <h4>PRODUCIMOS</h4>
                </div>    
                <div>
                    <p class="textQueHacemos">Exploramos y llevamos a cabo la mejor alquimia posible.</p>
                </div>
            </div>
        </div>
        <div class="d-flex flex-column oneColumn">
            <div class="d-flex creamosCard">
                <!-- svg -->
                <div>
                    <img class="iconQueHacemos" src="../assets/img/icon/postProducimos.png" alt="">
                </div>
                <!-- texto -->
                <div>
                    <h4>POST-PRODUCIMOS</h4>
                </div>
                <div>
                    <p class="textQueHacemos">Damos color y llevamos a los niveles adecuados, logrando un excelente sonido.</p>
                </div>
            </div>
            <div class="d-flex creamosCard">
                <!-- svg -->
                <div>
                    <img  class="iconQueHacemos" src="../assets/img/icon/implementamos.png" alt="">
                </div>
                <!-- texto -->
                <div>
                    <h4>IMPLEMENTAMOS</h4>
                </div>
                <div>
                    <p class="textQueHacemos">Icorporamos la música al videojuego a través de los mejores middleware.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- portfolio -->
<div id="portfolio" class="container d-flex ">
    <!-- card niñas ayohuma -->
    <div class="cardPortfolio d-flex ">
        <div class="d-flex flex-column oneColumn box">
            <div class="d-flex cardSubtitle">
                <h4 class="border center" >
                    Niñas de ayohuma
                </h4>
            </div>
            <div class="textCard ">
                <p>María, protagonista de esta historia, debe lograr la independencia de argentina. Debera a travesar varias batallas hasta llegar a su rey.</p>
            </div>
        </div>
        <div class="d-flex flex-column box">
                <div class="boxImg">
                    <img  class="imgCard" src="../assets/img/cards/niniasDeAyohuma.jpg" alt="">
                </div>
        </div>
    </div>
    <!-- reproductor -->
    <div>

    </div>
    <!-- video -->
    <div>

    </div>
</div>
<div class="container d-flex flex-column">
    <!-- RPG -->
    <div class="cardPortfolio d-flex ">
        <div class="d-flex flex-column oneColumn box">
            <div class="d-flex cardSubtitle">
                <h4 class="border center" >
                    Niñas de ayohuma
                </h4>
            </div>
            <div class="textCard ">
                <p>María, protagonista de esta historia, debe lograr la independencia de argentina. Debera a travesar varias batallas hasta llegar a su rey.</p>
            </div>
        </div>
        <div class="d-flex flex-column box">
                <div class="boxImg">
                    <img  class="imgCard" src="../assets/img/cards/niniasDeAyohuma.jpg" alt="">
                </div>
        </div>
    </div>
    <!-- reproductor -->
    <div>

    </div>

</div>
<div class="container d-flex flex-column">
    <!-- epiphany-->
    <div class="cardPortfolio d-flex ">
        <div class="d-flex flex-column oneColumn box">
            <div class="d-flex cardSubtitle">
                <h4 class="border center" >
                    Niñas de ayohuma
                </h4>
            </div>
            <div class="textCard ">
                <p>María, protagonista de esta historia, debe lograr la independencia de argentina. Debera a travesar varias batallas hasta llegar a su rey.</p>
            </div>
        </div>
        <div class="d-flex flex-column box">
                <div class="boxImg">
                    <img  class="imgCard" src="../assets/img/cards/niniasDeAyohuma.jpg" alt="">
                </div>
        </div>
    </div>
    <!-- reproductor -->
    <div>

    </div>

</div>
<!-- footer -->
<footer id="contacto" class="vh-100 d-flex ">
    <div class="container d-flex flex-column box ">
        <div class="d-flex subtitle border box">
            <p>CONTACTO</p>
        </div>
        <div class="d-flex flex-row ">
            <!-- col  -->
            <div class="flex-column oneColumn form " >
                <form action="" method="get">
                    <div>
                        <input type="text" placeholder="Nombre" id="nombre">
                    </div>    
                    <div>
                        <input type="text" placeholder="e-mail" id="e-mail">
                    </div>
                    <div>
                        <input type="text" placeholder="Mensaje" id="mensaje">
                    </div>
                    <div>
                        <input type="submit" value="enviar">
                    </div>
                </form>
            </div>
            <!-- col -->
            <div class="flex-column">
                <div class="">
                    <div class="boxRedes">
                        <div>
                            <p>@elytraproductions</p>
                        </div>
                        <div>
                            <p>Elytra Prductions</p>
                        </div>
                        <div>
                            <p>ElytraProductions</p>
                        </div>
                        <div>
                            <p>+5493412821242ns</p>
                        </div>
                        <div>
                            <p>contact.elytraproductions@gmail.com</p>
                        </div>
                    </div>
                    <!-- columna iconos -->
                    <div class="boxIcon">
                        <div class="icon">

                        </div>
                        <div class="icon">
                            
                        </div>
                        <div class="icon">
                            
                        </div>
                        <div class="icon">
                            
                        </div>
                        <div class="icon">
                            
                        </div>
                    </div>
                </div>
                <!-- logo -->
                <div class="d-flex box">
                    <img class="logoContacto" src="../assets/logo.png" alt="">
                </div>
            </div>
        </div>
    </div>
    
</footer>