<!-- portada -->
<div class="vh-100">
    <app-header class="vh-100"></app-header>    
    <!-- componente 2 -->
    <app-carrousel></app-carrousel>
</div>
<!-- Nosotros / componente 3 -->
<div id="nosotros" class="container d-flex flex-column">
    <app-nosotros></app-nosotros>
</div>
<!-- QUE HACEMOS / componente 4-->
<div id="queHacemos" class="container flex-column bgDark ">
    <app-que-hacemos>

    </app-que-hacemos>
</div>
<!-- portfolio componente 5 -->
<div id="portfolio" class="container-fluid d-flex flex-column" >
    <!-- card niñas ayohuma -->
    <app-portfolio></app-portfolio>
</div>
<!-- footer componente 6-->
<footer id="contacto" class="vh-100 bgDark">
    <app-footer></app-footer>
</footer>