<div class="d-flex flex-column">
    <div class="title borderSubtitle ">
        <h4>PORTFOLIO</h4>
    </div>
    <div class="cardPortfolio d-flex border">
        <div class="flex-column oneColumn box">
            <div class="cardSubtitle borderSubtitle">
                <h4 class=" center">
                    {{niniasDeAyohuma.title}}
                </h4>
            </div>
            <div class="textCard ">
                <p>{{niniasDeAyohuma.text}}</p>
            </div>
        </div>
        <div class="flex-column box">
            <div class="boxImg">
                <img class="imgCard" src={{niniasDeAyohuma.src}} alt="">
            </div>
        </div>
    </div>
    <!-- reproductor -->
    <div class="container-fluid d-flex ">
        <iframe class="d-flex" width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1495585162&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
        <div
            style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;">
        </div>
    </div>
    <!-- video -->
    <div>

    </div>
</div>