<div class="d-flex flex-column">
    <div class="title borderSubtitle ">
        <h4 >PORTFOLIO</h4>
    </div>
    <div class="cardPortfolio d-flex border">
        <div class="flex-column oneColumn box">
            <div class="cardSubtitle borderSubtitle">
                <h4 class=" center">
                    {{niniasDeAyohuma.title}}
                </h4>
            </div>
            <div class="textCard ">
                <p>{{niniasDeAyohuma.text}}</p>
            </div>
        </div>
        <div class="flex-column box">
            <div class="boxImg">
                <img class="imgCard" src={{niniasDeAyohuma.src}} alt="">
            </div>
        </div>
    </div>
    <!-- reproductor -->
    <div>

    </div>
    <!-- video -->
    <div>

    </div>
</div>